<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Apa Kabar?</title>

    <style>
	body {
		height: 700px;
		background-image: linear-gradient(to left top, #845ec2, #0085e4, #00a2e5, #00b9cc, #00c9a7);
		background-repeat: no-repeat;
		background-size: cover;
	}
	h1 {
		text-align: center;
		color: #280D67;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		margin-top: 12%;
	}
	.form-group {
		vertical-align: center;
		width: 800px; 
	}
	.box {
		font-family: 'Montserrat';
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.form-group {
		color: #FEFEDF;
	}
	h5{
		font-family: Montserrat;
		color: #280D67;
		text-align: center;
		margin-top: 20%;
	}
	.container {
		width: 500px;
		text-align: center;
		font-family: Montserrat;
		color: #280D67;
		margin-top: 18%;
	}
	.container p{
		text-align: center;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 20px;
	}
	.button {
		text-align: center;
		font-family: Montserrat;
	}
	</style>

</head>
<body>
	<h1>Hello, It's Me. How Are You?</h1>
	<div class = "box">
		<form action="{% url 'story6app:landingpage_add' %}" method="POST">
		<div class="form-group">
			{% csrf_token %}
			{{ form }}
		</div>
		<button type="submit" class="btn btn-primary">Tell It!</button>
	</form>
	</div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<table style="width:100%">
					{% if statusq %}
						{% for act in statusq %}
						<tr>
							<td>{{ act.message }}</td>
						</tr>
						{% endfor %}
					{% else %}
						<h5>Nothing Here!</h5> 
					{% endif %}
				</table>
				<br> 
				<p>Thank You For Telling Me!</p>
			</div>
		</div>
	</div>

	<div class ="button">
		<button type="button" class="btn btn-outline-light btn-lg">
			<a href="profile" title="See My Profile">My Profile</a>
		</button> 
	</div>
</body>

</html>