{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'firstjs.js' %}"></script>
</head>
<body>
	<div id="loader">
		<div class="spinner"></div>
	</div>

    <div class="box">
    	<img src="http://mela-ppw.herokuapp.com/foto.png" alt="Khameela Rahmah" class="box-img">
    	<h1>Get to Know Me</h1>
    	<h5>A Computer Science Student</h5>
        <br>
    	<p>Halo Semuanya! Nama saya Khameela Rahmah. Panggil saja Mela. Sekarang saya kuliah di Fakultas Ilmu Komputer Universitas Indonesia. Saya suka mendengarkan musik dan nonton film. Halaman profile ini saya buat sebagai rangkaian dari proses belajar PPW semester ini, Semangat!</p>
        <br>
        <button class="accordion">Activities</button>
        <div class="panel">
            <p>Desain Poster</p>
            <p>Belajar PPW</p>
        </div>
        <button class="accordion">Organizations</button>
        <div class="panel">
            <p>Biro Media BEM Fasilkom UI 2018</p>
            <p>Press COMPFEST X</p>
        </div>
        <button class="accordion">Achievements</button>
        <div class="panel">
            <p>Tepat Waktu</p>
            <p>Bangun Pagi</p>
        </div>
        <br>
        <button id = "daymode" class="btn btn-dark">Change Mood</button>
    </div>
</body>
</html>
